# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
dist/
.eslintcache

# Project specific
backend/uploads/*
backend/output/*
!backend/uploads/.gitkeep
!backend/output/.gitkeep

# OS
.DS_Store
Thumbs.db
